<header class="header">
        
  <a class="header__logo-link" href="/">
    <img  class="header__logo-image" src="/img/logo.png" alt="Meadowlark Travel Logo">
  </a>    

  <div class="container">
    <!-- nav -->
    <div class="nav">
      <a class="nav__link" href="/main-courses">        
        <span class="nav__title">main courses</span>        
      </a>

      <a class="nav__link nav__link--inactive">        
        <span class="nav__title">appetizers</span>        
      </a>

      <a class="nav__link" href="/desserts">        
        <span class="nav__title">desserts</span>        
      </a>
    </div>
  </div>       
             
</header>



<div class="container">
  <section class="cards">
    <h1 class="title">Appetizers</h1>
    <div class="cards-box">
  
      {{#if products.length}}
        {{#each products}}
        <div class="cards-box__card card" id="{{id}}">
          <div class="card__image-box">
            <img class="card__image" src="{{image}}" alt="Product Image">
          </div>
          <h2 class="card__name">{{name}}</h2>
          <p class="card__price">Price: <span class="card__span-price">{{formatPrice}}</span></p>
          <!--<p class="card__price">Price: <span class="card__span-price">{{price}}</span></p>-->
          <button class="card__button">Add to cart</button>
        </div>
        {{/each}}
      {{else}}
        <p>No products found</p>
      {{/if}}
    
    </div>
  </section>
</div>

