<header class="header">   
     
  <a class="header__logo-link" href="/">
    <img  class="header__logo-image" src="/img/logo.png" alt="Meadowlark Travel Logo">
  </a>    
<!--
  <div class="container">
    
    <div class="nav">
      <a class="nav__link" href="/main-courses">        
        <span class="nav__title">main courses</span>        
      </a>

      <a class="nav__link" href="/appetizers">        
        <span class="nav__title">appetizers</span>        
      </a>

      <a class="nav__link" href="/desserts">        
        <span class="nav__title">desserts</span>        
      </a>
    </div>
  </div>  
-->  
             
</header>


<section class="categories">  
  <h1 class="title">Categories</h1>
  <div class="categories-box">  
    {{#if categories.length}}
      {{#each categories}}           
        <a class="categories__card" href="{{link}}">        
          <img class="categories__image" src="{{image}}" alt="Product Image">
          <h2 class="categories__title">{{name}}</h2>        
        </a>          
      {{/each}}
    {{else}}
      <p>No categories found</p>
    {{/if}}
  </div>
</section>  

<div class="top">
  
    {{#if description.length}}
      {{#each description}}
      <div class="top__inner">
        <div class="top__image-box">
          <a href="/services"><img class="top__image" src="{{image}}" alt="Product Image"></a>
        </div>
        <p class="top__text">{{text}}</p>       
      </div>
      {{/each}}
    {{else}}
      <p>No description found</p>
    {{/if}}
  
</div>

